<%@feeds.each do |feed| %>
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="col-sm-4">
        <% if feed.image.blank? %>
          <%= image_tag "/uploads/default/default1.jpg", class: "img"   %>
        <% else %>
          <%= image_tag feed.image_url(), class: "img"   %>
        <%end%>
        <%= feed.user.name%>
      </div>
      <div class="col-sm-4"><%= feed.body %></div>
      <div class="checkbox">
        <input type="checkbox" unchecked data-toggle="toggle" data-on = "bookmark" data-off = "unmark", id='bookmark_checkbox' data-id="<%=feed.id%>" onclick="toggleOn()" onclick="toggleOff()" >
        <%#= check_box_tag 'bookmark', "data-toggle": "toggle", "data-on": "like", "data-off": "unlike", "data-onstyle": "info", class: 'bookmark_checkbox toggle', "data-feed-id": feed.id %>
      </div> 
    </div>
  </div>
<%end%>

      
        
      

        
         
      
      