<%@feeds.each do |feed| %>
  <div class="panel panel-info">
    <div class="panel-body">
      <div class="col-sm-4">
        <% if feed.image.blank? %>
          <%= image_tag "/uploads/default/default1.jpg", class: "img"   %>
        <% else %>
          <%= image_tag feed.image_url(), class: "img"   %>
        <%end%>
        <%= feed.user.name%>
      </div>
      <div class="col-sm-4"><%= feed.body %></div>
      <% type = get_feed_bookmark(feed, current_user.id) %>

      <div class="checkbox">
        <input type="checkbox" <%= type %>  data-toggle="toggle" data-on = "bookmark" data-off = "smark", id='bookmark_checkbox' data-id="<%=feed.id%>" >  
      </div> 
    </div>
  </div>
<%end%>
       

       

        
        
          

        

      
        
      

        
         
      
      