<h2> feed page</h2>
<div class="container">
  <div class="table-responsive">
  <%= form_for @feed  do |f| %> 
    <table class="table">
      <thead>
        <tr>
          <th>select image </th>
          <th>post</th>
          <th>select</th>
          <th>show image</th>
          <th>image</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p><%= f.file_field :image, class: 'photo_upload'%></p> </td>
          <td><p><%= f.text_area :body, size: "10x5" %></p></td>
          <td><p><%= select_tag :permission, options_for_select(Feed.permissions)%></p></td>
          <td><p><%= f.submit "post image" %></p></td>
          <td><%= image_tag 'avatar.jpg' , class: 'image_preview' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
    <%= link_to 'show', feed_path(f) %>
    <%= link_to 'index', feeds_path()%>

<% end %>


 <%#= image_tag 'avatar.png', class: 'hidden image_to_upload' %>
<br/><br/>

  
  


  
  



  



  