<div class="container">
  <h2> feed page</h2>
  <div class="table-responsive">
  <%= form_for @feed  do |f| %> 
    <table class="table">
      <thead>
        <tr>
          <th>select image </th>
          <th>post</th>
          <th>select</th>
          <th>image</th>
          <th>bookmark</th>
          <th>submit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p><%= f.file_field :image %></p> </td>
          <td><p><%= f.text_area :body, size: "10x5" %></p></td>
          <td><p><%= f.select :permission, Feed.permissions.map {|k,v| [k,k]} %></p></td>
          <td><img id="image_preveiw" src="" style="width:108px;height:100px;"></td>
          <td><p><%= f.check_box :bookmark %></p></td>
          <td><p><%= f.submit :submit %></p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% end %>
          


  


  



  



  