<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <%= image_tag @result.image_url(), class: "img1" if !@result.image.blank? %> 
          </div>
          <div class="col-sm-6 col-md-8">
            <h4> <%= @result.user.name.titleize %></h4>
            <p>
            <i class="glyphicon glyphicon-envelope"></i><%= @result.user.dob %>
            <br />
            <i class="glyphicon glyphicon-envelope"></i><%= @result.user.email %>
            <br />
            <i class="glyphicon glyphicon-gift"></i><%= @result.body %></p>
            <i class="glyphicon glyphicon-gift"></i><%#= link_to "Find Friends", friendships_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Your Friends</h2>
  <%@friends.each do |friend| %>
    friend.friend
  <%end%>
</div>
            

