<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <% if @user.image.blank? %>
              <%= image_tag "/uploads/default/default2.png", class: "img2"  %>
            <% else %>
              <%= image_tag @user.image_url(), class: "img2"  %>
            <%end%>
          </div>
          <div class="col-sm-10 col-md-8">
            <i class="glyphicon glyphicon-envelope namefont"><h4><b><%= @user.name.titleize %></b></h4></i>
            <p>
            <i class="glyphicon glyphicon-envelope"><%= @user.dob %></i>
            <br />
            <i class="glyphicon glyphicon-envelope"><%= @user.email %></i>
            <br />
            <i class="glyphicon glyphicon-gift"></i><%#= @user.body %></p>
            <i class="glyphicon glyphicon-gift"></i><%= link_to "Invite friends", friendships_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> friend request</button>
  <div class="row collapse" id="demo">
    <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="well well-sm">
        <div class="row">
            <% @friendships.each do |friendship|%>
              <div class="panel panel-info">
                <div class="panel-body">
                  <div class="col-sm-6 col-md-5">
                    <% if friendship.user.image.blank? %>
                      <%= image_tag "/uploads/default/default2.png", class: "img"  %>
                    <% else %>
                      <%= image_tag friendship.user.image_url(), class: "img"  %>
                    <%end%>
                  </div>
                  <div class="col-sm-6 col-md-3">
                   <%= button_to "accept", friendship_path(id: friendship.id, status: Friendship.statuses[:accept]),  :method => :put  %>
                   <%= button_to "reject", friendship_path(id: friendship.id, status: Friendship.statuses[:reject]),  :method => :delete  %>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <%= friendship.user.name %><br>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#remo"> friend list</button>
    <div class="row collapse" id="remo">
    <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="well well-sm">
        <div class="row">
          <% @friendlist.each do |friendlist|%> 
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="col-sm-6 col-md-5">
                  <% if friendlist.user.image.blank? %>
                    <%= image_tag "/uploads/default/default2.png", class: "img"  %>
                  <% else %>
                    <%= image_tag friendlist.user.image_url(), class: "img"  %>
                  <%end%>
                </div>
                <div class="col-sm-6 col-md-3">
                  <%= friendlist.user.name %><br>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="col-sm-6 col-md-5">
  <%= form_tag (send_request_mail_path) do %>
    <%= text_field_tag 'email'  %>
    <%= submit_tag "Send request"%>
  <% end %>
  </div>
  
   
 
  
  
 
  <%#= form_tag ()  %>
    <%#= f.text_field :email, autofocus: true, autocomplete: "on",  placeholder: "Email" %>
    <%#= link_to "Send request ", send_request_mail_path %>
  <%#end%>
  <%#= form_for Feed.new do |f| %>
    <%#= f.autocomplete_field :email, autocomplete_user_email_path %>
  <%# end %>
  <%#= search_field_tag 'email' %>




        
    
  


          
  

