<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <% if @result.image.blank? %>
              <%= image_tag "/uploads/default/default2.png", class: "img2"  %>
            <% else %>
              <%= image_tag @result.image_url(), class: "img2"  %>
            <%end%>
          </div>
          <div class="col-sm-10 col-md-8">
            <i class="glyphicon glyphicon-envelope namefont"><h4><b><%= @result.name.titleize %></b></h4></i>
            <p>
            <i class="glyphicon glyphicon-envelope"><%= @result.dob %></i>
            <br />
            <i class="glyphicon glyphicon-envelope"><%= @result.email %></i>
            <br />
            <i class="glyphicon glyphicon-gift"></i><%#= @result.body %></p>
            <i class="glyphicon glyphicon-gift"></i><%= link_to "Find Friends", friendships_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <% @result1.each do |result|%>
    <%= result.friend.name %>
  <%end%>
</div>
    

 
            

