<div class="container">
  <nav class="navbar ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "people you may know?", friendships_path , class: "navbar-brand" %>
      </div>
      <div class="navbar-form navbar-right">
        <%= form_tag (send_request_mail_path) do %>
          <%= text_field_tag 'email'  %>
          <%= submit_tag "Search to invite"%>
        <% end %>
      </div>
    </div>
  </nav>
          
    
      
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <% if @user.image.blank? %>
              <%= image_tag "/uploads/default/default2.png", class: "img2"  %>
            <% else %>
              <%= image_tag @user.image_url(), class: "img2"  %>
            <%end%>
          </div>
          <div class="col-sm-10 col-md-8">
            <i class="glyphicon glyphicon-envelope namefont"><h4><b><%= @user.name.titleize %></b></h4></i>
            <p>
            <i class="glyphicon glyphicon-envelope"><%= @user.dob %></i>
            <br />
            <i class="glyphicon glyphicon-envelope"><%= @user.email %></i>
            <br />
            <i class="glyphicon glyphicon-gift"></i><%#= @user.body %></p>
            <i class="glyphicon glyphicon-gift"></i><%#= link_to "people you may know?", friendships_path %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

   <ul class="nav nav-tabs">
    <li class="active"><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> friend request</button></li>
    <li><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#remo"> friend list</button></li>
    <li><button type="button" class="btn btn-info" data-toggle="collapse" data-target="#kemo"> follow</button></li>
  </ul>
    
  
  
  <div class="row collapse" id="demo">
    <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="well well-sm">
        <div class="row">
            <% @friendships.each do |friendship|%>
              <div class="panel panel-info">
                <div class="panel-body">
                  <div class="col-sm-6 col-md-5">
                    <% if friendship.user.image.blank? %>
                      <%= image_tag "/uploads/default/default2.png", class: "img"  %>
                    <% else %>
                      <%= image_tag friendship.user.image_url(), class: "img"  %>
                    <%end%>
                  </div>
                  <div class="col-sm-6 col-md-3">
                   <%= button_to "accept", friendship_path(id: friendship.id, status: Friendship.statuses[:accept]),  :method => :put  %>
                   <%= button_to "reject", friendship_path(id: friendship.id, status: Friendship.statuses[:reject]),  :method => :delete  %>
                  </div>
                  <div class="col-sm-6 col-md-3">
                    <%= friendship.user.name %><br>
                  </div>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row collapse" id="remo">
    <div class="col-xs-12 col-sm-7 col-md-7">
      <div class="well well-sm">
        <div class="row">
        <%if @friendlist.present? %>
           <% for friendship in @user.friendships %>
          <%# @user_friend.each do |friendship| %>
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="col-sm-6 col-md-5">
                  <% if friendship.friend.image.blank? %>
                    <%= image_tag "/uploads/default/default2.png", class: "img"  %>
                  <% else %>
                    <%= image_tag friendship.friend.image_url(), class: "img"  %>
                  <%end%>
                </div>
                <div class="col-sm-6 col-md-3">
                  <%= friendship.friend.name %><br>
                </div>
                <div class="col-sm-6 col-md-3">
                  <%= button_to "unfriend", friendship_path(id: friendship.id, status: Friendship.statuses[:reject]),  :method => :delete  %>
                </div>
              </div>
            </div>
          <%end%>

          <% for user in @user.inverse_friends %>
          <%# @user_invers_friend.each do |ifriend|  %>
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="col-sm-6 col-md-5">
                  <% if user.image.blank? %>
                    <%= image_tag "/uploads/default/default2.png", class: "img"  %>
                  <% else %>
                    <%= image_tag user.image_url(), class: "img"  %>
                  <%end%>
                </div>
                <div class="col-sm-6 col-md-3">
                  <%= user.name %><br>
                </div>
                <div class="col-sm-6 col-md-3">
                  <%= button_to "unfriend", friendship_path(id: user.id, status: Friendship.statuses[:reject]),  :method => :delete  %>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row collapse" id="kemo">
  <div class="col-xs-12 col-sm-7 col-md-7">
    <div class="well well-sm">
      <div class="row">
        <% @follows.each do |follows|%> 

          <div class="panel panel-info">
            <div class="panel-body">
              <div class="col-sm-6 col-md-5">
                <% if follows.friend.image.blank? %>
                  <%= image_tag "/uploads/default/default2.png", class: "img"  %>
                <% else %>
                  <%= image_tag follows.friend.image_url(), class: "img"  %>
                <%end%>
              </div>
              <div class="col-sm-6 col-md-3">
                <%= follows.friend.name %><br>
              </div>
              <div class="col-sm-6 col-md-3">
                <%= button_to "unfollow", friendship_path(id: follows.id, status: Friendship.statuses[:reject]),  :method => :delete  %>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
       
        