<div class="form_login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "wpl-track-me", id: "loginform" }) do |f| %>
    <p class="login-username">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "input", placeholder: "Email Address" , size: "20" %>
    </p>
        
    <p class="login-username">
      <%= f.label :password%>
      <%= f.password_field :password, autocomplete: "off", class: "input", placeholder: "password" , size: "20" %>
      <% if @minimum_password_length %>
        <div class="hints"><h4>(<%= @minimum_password_length %> characters minimum)</h4></div>
      <% end %><br />
    </p> 

    <div class="login-submit">
      <%= f.submit "Log in", html: {id: "wp-submit", class: "button-primary"} %>
      <%= render "devise/shared/links" %>
    </div>  
  <% end %>
</div>
    
    

           
    
    
          
                
            
        
              
  

      

    
    
    

    
    

    
    
    
    
