<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><%= link_to 'project' %> </li>
      <li role="presentation" class="dropdown"><%= link_to 'feed', new_feed_path %> </li>
      
      <li role="presentation"><%= link_to 'Bookmark', new_feed_path %></li>
      <li role="presentation"><%= link_to 'profile', new_feed_path %></li>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <li role="presentation"><%= link_to 'Edit profile', edit_user_registration_path %></li> 
          <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete   %> </li>
        <% else %>
          <li role="presentation"><%= link_to "Sign up", new_user_registration_path %></li> 
    
          <li role="presentation"><%= link_to "Login", new_user_session_path%></li>
        <% end %>
       </ul>

    </ul>


  <div class="container">
    <div class="row">
     <div class="span9">
        <p class="navbar-text pull-right">
       
        </p>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
        <%= yield %>
  </body>
</html>


    
   




    




